
html {
    scroll-behavior: smooth;
}

/* Navigation */

.navbar{
    padding: 0.9rem 2.5rem;
}
.navbar-brand{
    width: 90px;
    max-width: 90px;
}

.navbar-item{
    color:#383434;
    font-size: 18px;
    padding-left:15px;
    font-weight: 600;
    font-family: 'Roboto';
}

/* Home */
.msg-text {
    color:black;
    font-size: 46px;
    font-weight: 600;
    font-family: 'Roboto';
    padding-top: 1.5rem;
}

.msg-text-sm{
    color:black;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto';
    padding-top: 1.5rem;
}

.view-100 {
    height: 100vh;
}

.center-verticaly {
  padding-top: 9rem;
  
}

.invert {
    transform: rotate(180deg);
}

.bold-text{
    margin-top: 1rem;
    padding-left: 0;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 800;
    color: black;
}

.large-text{
    padding-left: 2rem;
    font-family: 'Roboto';
    font-size: 24px;
    color: black;
}
.top-border {
    border-top: 4px solid black;
}

.principles {
    color:black;
    font-size: 42px;
    font-weight: 800;
    font-family: 'Roboto';
    padding-top: 1.5rem;
}
.principles-logo {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100px;
    height: auto;
    max-width: 100%;
}
.principle-title{
    
    padding-top: 1rem;
    color:black;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Roboto';
}
.principle-msg{
    
    padding-top: 1rem;
    color:black;
    font-size: 16px;
    font-family: 'Roboto';
}
.dark{
    
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    font-weight: 800;
    font-family: 'Roboto';
    border-radius: 5px;
}
.footer{
    padding-top: 5rem;
    background-color:#1f1e1e;
    padding-bottom: 7rem;
}
.footer-sub-title{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-bottom: 1.5rem;
}
.footer-sub-text{
    font-family: 'Roboto';
    margin-top: 5px;
    color: white;
}